/**
 * ebooklibrary.css
 *
 * (c)2014 mrdragonraaar.com
 */
@import url('bootstrap.min.css');
@import url('ebooklibrary-theme.css');

#ebooklibrary.login > .content-container > loginpanel
{
	margin-top: 10%;
}

#ebooklibrary.login > .content-container > loginpanel > .content-login
{
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

#ebooklibrary.login > .content-container > loginpanel > .content-login > img
{
	margin-right: 10px;
}

loginpanel
{
	display: block;
	position: relative;
	background-image: url('/images/latestadditionspanel/books-background.jpg');
	background-position: 0px -75px;
	height: 295px;
	z-index: 2000;
}

