{{!
{
	"name": "AuthorsView",
	"description": "Authors View Template"
}
}}
<div class="panel-heading">
<!--
	<ul class="list-group">
		<li class="list-group-item"><a title="All" !href="#">All</a></li>
		<li class="list-group-item"><a title="A" !href="#">A</a></li>
		<li class="list-group-item"><a title="B" !href="#">B</a></li>
		<li class="list-group-item"><a title="C" !href="#">C</a></li>
		<li class="list-group-item"><a title="D" !href="#">D</a></li>
		<li class="list-group-item"><a title="E" !href="#">E</a></li>
		<li class="list-group-item"><a title="F" !href="#">F</a></li>
		<li class="list-group-item"><a title="G" !href="#">G</a></li>
		<li class="list-group-item"><a title="H" !href="#">H</a></li>
		<li class="list-group-item"><a title="I" !href="#">I</a></li>
		<li class="list-group-item"><a title="J" !href="#">J</a></li>
		<li class="list-group-item"><a title="K" !href="#">K</a></li>
		<li class="list-group-item"><a title="L" !href="#">L</a></li>
		<li class="list-group-item"><a title="M" !href="#">M</a></li>
		<li class="list-group-item"><a title="N" !href="#">N</a></li>
		<li class="list-group-item"><a title="O" !href="#">O</a></li>
		<li class="list-group-item"><a title="P" !href="#">P</a></li>
		<li class="list-group-item"><a title="Q" !href="#">Q</a></li>
		<li class="list-group-item"><a title="R" !href="#">R</a></li>
		<li class="list-group-item"><a title="S" !href="#">S</a></li>
		<li class="list-group-item"><a title="T" !href="#">T</a></li>
		<li class="list-group-item"><a title="U" !href="#">U</a></li>
		<li class="list-group-item"><a title="V" !href="#">V</a></li>
		<li class="list-group-item"><a title="W" !href="#">W</a></li>
		<li class="list-group-item"><a title="X" !href="#">X</a></li>
		<li class="list-group-item"><a title="Y" !href="#">Y</a></li>
		<li class="list-group-item"><a title="Z" !href="#">Z</a></li>
	</ul>
-->
</div>
<div class="panel-body">
</div>
