{{!
{
	"name": "BooksList",
	"description": "Books List Template"
}
}}
<a class="books-list-prev"><i class="icons-nav icons-nav-left"></i></a>
<!--
<ul class="books-list-items"></ul>
-->
<div class="books-list-viewport">
	<ul class="books-list-items"></ul>
</div>
<a class="books-list-next"><i class="icons-nav icons-nav-right"></i></a>
<!--
-->
