{{!
{
	"name": "BooksList",
	"description": "Books List Template"
}
}}
<a class="scrollable-list-previous">&lt;</a>
<div class="scrollable-list-viewport">
	<ul></ul>
</div>
<a class="scrollable-list-next">&gt;</a>
