{{!
{
	"name": "ScrollableBooksList",
	"description": "Scrollable Books List Template"
}
}}
<!--
<a class="scrollable-list-previous"><i class="icons-nav-left"></i></a>
<a class="scrollable-list-previous"><i class="glyphicon glyphicon-chevron-left"></i></a>
-->
<a class="scrollable-list-previous"><i class="previous-arrow"></i></a>
<div class="scrollable-list-viewport">
	<ul></ul>
</div>
<!--
<a class="scrollable-list-next"><i class="icons-nav-right"></i></a>
<a class="scrollable-list-next"><i class="glyphicon glyphicon-chevron-right"></i></a>
-->
<a class="scrollable-list-next"><i class="next-arrow"></i></a>
