{{!
{
	"name": "SearchWell",
	"description": "Search Well Template"
}
}}
<form role="search">
	<div class="form-group form-group-search">
		<label class="form-label-search" for="navbar-search"><i class="glyphicon glyphicon-search"></i></label>
		<input id="search" class="form-control form-control-search" type="search" value="" name="search"/>
	</div>
</form>
