{{!
{
	"name": "SearchWellInfoMessage",
	"description": "Search Well Info Message Template"
}
}}
<div class="well well-search-message well-success">
{{length}} result(s) for &#8220;{{keyword}}&#8221;.
</div>
