{{!
{
	"name": "NavBarSearchBoxView",
	"description": "NavBar Search Box View Template"
}
}}
<div class="form-group form-group-search">
	<label class="form-label-search" for="navbar-search"><i class="glyphicon glyphicon-search"></i></label>
	<input class="form-control form-control-search" id="navbar-search" name="search" type="search" value="" placeholder="Search Books"/>
</div>
<!--
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"/></span>
			<input class="form-control" name="search" type="text" value="" placeholder="Search Books"/>
		</div>
	</div>
-->
