{{!
{
	"name": "WelcomePanelView",
	"description": "Welcome Panel View Template"
}
}}
<welcomepanel>
	<h4 class="heading-welcome">Welcome to ebook<strong>library</strong></h4>
	<p>This is the new look ebook<strong>library</strong>. It should hopefully be faster and even easier to use than before.</p>
	<p>At the top of the page there is navigation bar which will display the current author and series you are currently viewing. Clicking on the author name or logo will allow you to navigate back to previous pages. On this page it will only display the ebook<strong>library</strong> logo.</p>
	<p>The navigation bar also has a search box which will allow you to search the filenames of all the books in the library. This search is case-sensitive so if for example you are searching for <i>Christie</i> then typing <i>christie</i> may not return any results.</p>
	<p>Below the navigation bar are the thumbnails of the latest books to be added to the library. Clicking on a thumbnail will download the book.</p>
	<p>On the left-hand side there is a list of the authors currently in the library. Clicking on an author's name will list the series and books specific to that author.</p>
	<p>While viewing an author's books you can select how you wish to display them. The choices are found on the right-hand side toolbar and are <i>Thumbnails</i> which is the default and shows the book's cover, author name and title, <i>Details</i> which shows a more in-depth view and includes the book's synopsis and other details like publisher and publishing date. The last is <i>List</i> which simply shows a list of the book's filenames.</p>
	<p>The toolbar also includes a menu which allows you to sort the books currently being shown. Clicking a menu option for the first time will sort in ascending order. Clicking it for a second time will sort descending.</p>
</welcomepanel>
