{{!
{
	"name": "NavBarSearchBoxView",
	"description": "NavBar Search Box View Template"
}
}}
<form class="form-search">
	<input class="input-search" type="text" value="" placeholder="Search Books"/>
	<i class="icons-fugue icon-magnifier-left"/>
</form>
