{{!
{
	"name": "AuthorsView",
	"description": "Authors View Template"
}
}}
<div class="panel-heading">
	<i class="icons-breadcrumb icon-author active"/>
</div>
<div class="panel-body">
	<ul class="list-default list-authors">
	{{#each authors}}
		<li><a href="{{href}}">{{fileInfo.name}}</a></li>
	{{/each}}
	</ul>
</div>
