{{!
{
	"name": "FooterView",
	"description": "Footer View Template"
}
}}
<div class="container-fluid">
	<div class="footer-copyright">&copy; 2011 - 2014 <a title="mrdragonraaar.com" href="http://mrdragonraaar.com" target="_blank">mrdragonraaar.com</a></div>
	<ul class="footer-links">
		<li><a class="footer-link-top" title="Goto Top"><i class="glyphicon glyphicon-arrow-up"></i>top</a></li>
		<li><a title="Home" href="/library/#!/home"><i class="glyphicon glyphicon-home"></i>home</a></li>
		<li><a title="Search" href="/library/#!/search"><i class="glyphicon glyphicon-search"></i>search</a></li>
		<li><a title="Links" href="/library/#!/links"><i class="glyphicon glyphicon-link"></i>links</a></li>
	</ul>
</div>
