{{!
{
	"name": "FooterView",
	"description": "Footer View Template"
}
}}
<!--
<div class="footer-content"></div>
-->
<div class="container-fluid footer-copyright">
	<!-- small class="!copyright">&copy; 2011-2014 mrdragonraaar.com</small -->
<!--
-->
	<span class="footer-copyright-copyright">&copy; 2011 - 2014 <a href="http://mrdragonraaar.com" target="_blank">mrdragonraaar.com</a></span>
<!--
	<span class="footer-copyright-links"><a href="/library/#!/home">home</a> | <a href="/library/#!/search">search</a></span>
-->
<!--
-->
</div>
