{{!
{
	"name": "FooterView",
	"description": "Footer View Template"
}
}}
<div class="container-fluid">
	<span class="footer-copyright">&copy; 2011 - 2014 <a href="http://mrdragonraaar.com" target="_blank">mrdragonraaar.com</a></span>
</div>
