{{!
{
	"name": "SeriesPanelView",
	"description": "Series Panel View Template"
}
}}
<!-- ul class="list-panel list-series" -->
<ul class="list-well list-series">
{{#each series}}
	<li><a href="{{href}}">{{fileInfo.name}}</a></li>
{{/each}}
</ul>
