//
// Forms
// --------------------------------------------------


// Form variants

// Search form
.form-group-search {
	position: relative;
	margin-bottom: 0;

	.form-label-search {
		position: absolute;
		width: 100%;
		color: #777;

		> .glyphicon-search {
			position: absolute;
			top: 11px;
			left: 10px;
		}
	}

	.form-control-search {
		padding-left: (@padding-base-horizontal + 19px);
		border-radius: 15px;
		background-color: #eae7d9;
		border-color: #b6b4a1;
		.box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.125));
		color: #777;

		&:focus {
			background-color: #f3f1e9;
			.box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.125));
		}
	}
}


// Common form controls
/*
.form-control {
	color: @input-color;
	background-color: @input-bg;
	border: 1px solid @input-border;

	// Customize the `:focus` state to imitate native WebKit styles.
	.form-control-focus();

	// Placeholder
	.placeholder();

	// Disabled and read-only inputs
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: @input-bg-disabled;
	}
}
*/


/*
.form-control {
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @input-color;
	background-color: @input-bg;
	border: 1px solid @input-border;
	border-radius: @input-border-radius;

	// Customize the `:focus` state to imitate native WebKit styles.
	.form-control-focus();

	// Placeholder
	.placeholder();

	// Disabled and read-only inputs
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		background-color: @input-bg-disabled;
	}
}
*/
