//
// Icons
// --------------------------------------------------


// Alternate icons
// --------------------------------------------------

.icon-variant(@url; @width; @height) {
	position: relative;
	display: inline-block;
	background-image: url(@url);
	width: @width;
	height: @height;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.icon-bg-pos(@x; @y; @actoffx; @actoffy; @disoffx; @disoffy) {
	background-position: @x @y;
	.icon-bg-pos-active(@x, @y, @actoffx, @actoffy);
	.icon-bg-pos-disabled(@x, @y, @disoffx, @disoffy);
}

.icon-bg-pos-active(@x; @y; @offx; @offy) {
	&.active,
	a:hover &,
	a:focus &,
	a.active & {
		background-position: (@x + @offx) (@y + @offy);
	}
}

.icon-bg-pos-disabled(@x; @y; @offx; @offy) {
	button[disabled] &,
	button.disabled &,
	&.disabled {
		background-position: (@x + @offx) (@y + @offy);
	}
}

.icon-breadcrumb-bg-pos(@iconnum) {
	@iconoffx: 0;
	@iconoffy: -22px;
	@offx: 24px;
	@offy: 24px;
	@x: (-26px + @iconoffx*@iconnum);
	@y: (-26px + @iconoffy*@iconnum);

	.icon-bg-pos(@x, @y, @offx, @offy);
}

.icons-breadcrumb {
	.icon-variant('/images/icons/breadcrumb/icons-breadcrumb.png', 20px, 20px);

	&.icon-author {
		.icon-bg-pos(-26px, -6px, 24px, 0, 0, 0);
		//.icon-breadcrumb-bg-pos(0);
	}

	&.icon-series {
		.icon-bg-pos(-26px, -28px, 24px, 0, 0, 0);
		//.icon-breadcrumb-bg-pos(1);
	}

	&.icon-book {
		.icon-bg-pos(-26px, -50px, 24px, 0, 0, 0);
		//.icon-breadcrumb-bg-pos(2);
	}

	&.icon-search {
		.icon-bg-pos(-26px, -72px, 24px, 0, 0, 0);
		//.icon-breadcrumb-bg-pos(3);
	}
}

.icons-toolbar-bookspanel {
	.icon-variant('/images/icons/toolbar/icons-toolbar-bookspanel.png', 14px, 14px);

	&.icon-thumbnails {
		.icon-bg-pos(0px, -1px, 0, 0, 0, -14px);
	}

	&.icon-details {
		.icon-bg-pos(-19px, -1px, 0, 0, 0, -14px);
	}

	&.icon-list {
		.icon-bg-pos(-37px, -1px, 0, 0, 0, -14px);
	}

	&.icon-sort {
		.icon-bg-pos(-55px, -1px, 0, 0, 0, -14px);
	}
}

.icons-toolbar-bookviewer {
	.icon-variant('/images/icons/toolbar/icons-toolbar-bookviewer.png', 14px, 14px);

	&.icon-first {
		.icon-bg-pos(0px, -1px, 0, 0, 0, -14px);
	}

	&.icon-prev {
		.icon-bg-pos(-19px, -1px, 0, 0, 0, -14px);
	}

	&.icon-next {
		.icon-bg-pos(-37px, -1px, 0, 0, 0, -14px);
	}

	&.icon-last {
		.icon-bg-pos(-55px, -1px, 0, 0, 0, -14px);
	}
}

.icons-fugue {
	.icon-variant('', 16px, 16px);

	&.icon-document-mobi
	{
		background-image: url('/images/icons/fugue-icons/icons/document-mobi.png');
	}

	&.icon-e-book-reader-black
	{
		background-image: url('/images/icons/fugue-icons/icons/e-book-reader-black.png');
	}

	&.icon-information-frame
	{
		background-image: url('/images/icons/fugue-icons/icons/information-frame.png');
	}

	&.icon-magnifier-left
	{
		background-image: url('/images/icons/fugue-icons/icons/magnifier-left.png');
	}
}

