//
// Navbars
// --------------------------------------------------

.navbar-linkbar {
	> li {
		float: left;

		> a {
			> img {
				width: 28px;
				height: 28px;
				border-radius: 4px;
			}
		}
	}

/*
	margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

	> li {
		float: left;

		> a {
			padding-top: 10px;
			padding-bottom: 10px;
			line-height: @line-height-computed;
		}
	}

	@media (min-width: @grid-float-breakpoint) {
		float: left;
		margin: 0;

		> li {
			> a {
				padding-top: @navbar-padding-vertical;
				padding-bottom: @navbar-padding-vertical;
			}
		}
	}
*/
}


// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
	background-color: @navbar-default-bg;
	#gradient.vertical(@gradient-start-color, @gradient-stop-color, @gradient-start-percent, @gradient-stop-percent);
	border-color: @navbar-default-border;
	margin-bottom: @navbar-default-margin-bottom;
	//.box-shadow(@box-bottom-hshadow @box-bottom-vshadow @box-blur @box-color);

	.navbar-brand {
		color: @navbar-default-brand-color;
		padding: 0 15px;
		padding-right: 5px;
		line-height: 50px;
		&:hover,
		&:focus {
			color: @navbar-default-brand-hover-color;
			background-color: @navbar-default-brand-hover-bg;
			outline: none;
		}
	}

	.navbar-text {
		color: @navbar-default-color;
	}

	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;

		> li.navbar-divider {
			.icon-base(@navbar-default-divider-width, @navbar-default-divider-height, @navbar-default-divider-image);
		}

		> li > a {
			color: @navbar-default-link-color;
			font-size: @navbar-default-link-font-size;
			font-weight: 400;
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			//opacity: 0.5;

			padding: 0 5px;
			line-height: 50px;
				vertical-align: middle;

			@media (min-width: @grid-float-breakpoint) {
				//padding-top: 14px;
				//padding-bottom: 14px;
			}

			&:hover,
			&:focus {
				color: @navbar-default-link-hover-color;
				background-color: @navbar-default-link-hover-bg;
				outline: none;
				//opacity: 1;
			}
			> .icons-breadcrumb {
				margin-right: 5px;
			}

			> .glyphicon {
				//top: 0;
				top: -1px;
				vertical-align: middle;
				margin-right: 5px;
				font-size: @font-size-large;
			}
    		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-active-color;
				background-color: @navbar-default-link-active-bg;
				//opacity: 1;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-disabled-color;
				background-color: @navbar-default-link-disabled-bg;
			}
		}

		@media (max-width: @grid-float-breakpoint-max) {
			// Hide dividers when collapsed
			> li.navbar-divider {
				display: none;
			}

			> li > a {
				padding-left: 15px;
				padding-right: 15px;
			}

			&.navbar-linkbar {
				padding-left: 10px;
				> li > a {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
	}

	.navbar-toggle {
		background-color: @navbar-default-toggle-bg;
		border-color: @navbar-default-toggle-border-color;

		.icon-bar {
			background-color: @navbar-default-toggle-icon-bar-bg;
		}

		&:hover,
		&:focus {
			background-color: @navbar-default-toggle-hover-bg;
			border-color: @navbar-default-toggle-hover-border-color;

			.icon-bar {
				background-color: @navbar-default-toggle-icon-bar-hover-bg;
			}
		}
	}

	.navbar-collapse {
		border-color: @navbar-default-border;
		border: none;
		.box-shadow(none);
	}

	.form-search {
		border: none;
		.box-shadow(none);
		margin-top: 0;
		margin-bottom: 0;

		.form-group-search {
			.form-label-search {
				font-size: 12px;

				> .glyphicon-search {
					top: 10px;
					left: 10px;
				}
			}

			.form-control-search {
				font-size: 13px;
				height: 30px;
				padding: 2px 16px 2px 32px;
			}
		}

		@media (min-width: @grid-float-breakpoint) {
			.navbar-vertical-align(@input-height-base);
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}

/*
	// Form controls
	.navbar-form {
		border-color: @navbar-default-border;
		border: none;
		.box-shadow(none);

		.form-group {
			.form-control {
				border-radius: 15px;
				//@color-rgba-fish: rgba(red(#e1ddc7), green(#e1ddc7), blue(#e1ddc7), 0.6);
				@color-rgba-fish: rgba(red(@input-border-focus), green(@input-border-focus), blue(@input-border-focus), 0.6);
				//@color-rgba-fish: rgba(red(@input-border), green(@input-border), blue(@input-border), 0.6);
				.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @{color-rgba-fish}");
				//.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.3)");
				.form-control-focus();
			//margin-right: -20px;
			}

			.input-group {
				.input-group-addon {
					border-radius: 15px;
				@color-rgba-fish: rgba(red(@input-border-focus), green(@input-border-focus), blue(@input-border-focus), 0.6);
				//@color-rgba-fish: rgba(red(@input-border), green(@input-border), blue(@input-border), 0.6);
				.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px @{color-rgba-fish}");
				//.box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.3)");
				}

				.form-control,
				.input-group-addon {
					&:first-child {
						.border-right-radius(0);
					}

					&:last-child {
						.border-left-radius(0);
					}
				}

				.input-group-addon:first-child {
					border-right: 0;
				}

				.input-group-addon:last-child {
					border-left: 0;
				}
			}
		}

		@media (max-width: @grid-float-breakpoint-max) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
*/

	// Dropdown menu items
	.navbar-nav {
		// Remove background color from open dropdown
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: @navbar-default-link-active-bg;
				color: @navbar-default-link-active-color;
			}
		}

		@media (max-width: @grid-float-breakpoint-max) {
			// Dropdowns get custom display when collapsed
			.open .dropdown-menu {
				> li > a {
					color: @navbar-default-link-color;
					&:hover,
					&:focus {
						color: @navbar-default-link-hover-color;
						background-color: @navbar-default-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: @navbar-default-link-active-color;
						background-color: @navbar-default-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: @navbar-default-link-disabled-color;
						background-color: @navbar-default-link-disabled-bg;
					}
				}
			}
		}
	}

	// Links in navbars
	//
	// Add a class to ensure links outside the navbar nav are colored correctly.

	.navbar-link {
		//color: @navbar-default-link-color;
		color: @navbar-default-color;
		&:hover {
			color: @navbar-default-link-hover-color;
		}
	}

	.btn-link {
		color: @navbar-default-link-color;
		&:hover,
		&:focus {
			color: @navbar-default-link-hover-color;
		}
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: @navbar-default-link-disabled-color;
			}
		}
	}
}

