//
// Navbars
// --------------------------------------------------


// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
	background-color: @navbar-default-bg;
	#gradient.vertical(@navbar-default-gradient-start-color, @navbar-default-gradient-stop-color, @navbar-default-gradient-start-percent, @navbar-default-gradient-stop-percent);
	border-color: @navbar-default-border;
	margin-bottom: @navbar-default-margin-bottom;
	.box-shadow(@navbar-default-box-hshadow @navbar-default-box-vshadow @navbar-default-box-blur @navbar-default-box-color);
}
