//
// Panels
// --------------------------------------------------


// Alternate panels
// --------------------------------------------------

// Default panel
.panel-default {
	.panel-variant(@panel-default-border, @panel-default-text, @panel-default-heading-bg, @panel-default-heading-border);
	border-radius: 0;
	border: none;
	.box-shadow(none);
	margin-bottom: 0;

	> .panel-heading {
		height: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-radius: 0;
		#gradient.vertical(@gradient-start-color, @gradient-stop-color, @gradient-start-percent, @gradient-stop-percent);
		.box-shadow(@box-bottom-hshadow @box-bottom-vshadow @box-blur @box-color);

		> .panel-title {
			display: inline-block;
			line-height: 48px;
			margin-top: -15px;
			margin-bottom: -15px;
			font-size: @panel-default-title-font-size;
			font-weight: 400;
			text-transform: uppercase;
			white-space: nowrap;

			.icons-breadcrumb {
				margin-right: 5px;
			}

			.badge {
				vertical-align: middle;
				margin-left: 5px;
			}

			> a {
				display: inline-block;
				line-height: 48px;
				color: @panel-default-title-link-color;
				text-decoration: none;

				&:hover,
				&:focus {
					color: @panel-default-title-link-hover-color;
				}
			}
		}

		> .btn-toolbar {
			margin-top: -8px;
			margin-bottom: -8px;
		}
	}

	// Position heading to left
	&.panel-left {
		position: relative;
		background-color: @panel-default-bg;

		> .panel-heading {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 50px;
			height: auto;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
			border-bottom: none;
			border-left: 1px solid @panel-default-heading-border;
			border-right: 1px solid @panel-default-heading-border;
			.box-shadow(@box-left-hshadow @box-left-vshadow @box-blur @box-color);
		}

		> .panel-body {
			margin-left: 50px;
		}
	}

	// Position heading to right
	&.panel-right {
		position: relative;
		background-color: @panel-default-bg;

		> .panel-heading {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 50px;
			height: auto;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
			border-bottom: none;
			border-left: 1px solid @panel-default-heading-border;
			border-right: 1px solid @panel-default-heading-border;
			.box-shadow(@box-right-hshadow @box-right-vshadow @box-blur @box-color);
		}

		> .panel-body {
			margin-right: 50px;
		}

		&.panel-authors {
			z-index: @zindex-authors;
			height: 100%;

			@media (min-width: @grid-float-breakpoint) {
				float: left;
				width: @panel-authors-width;
				margin-bottom: @fullheight-margin;
				padding-bottom: @fullheight-padding;
			}
		}
	}
}

