//
// Panels
// --------------------------------------------------

.panel-button-vertical-align(@panel-lh; @btn-lh; @panel-pad; @btn-pad) {
	@button-margin: floor((((@panel-lh - @btn-lh)/2) + (@panel-pad - @btn-pad)) - @panel-pad - 1px);
	margin-top: unit(@button-margin, px);
	margin-bottom: unit(@button-margin, px);
}

.panel-button-vertical-align(@panel-lh) {
	.panel-button-vertical-align(@panel-lh; @line-height-computed; @padding-large-vertical; @padding-base-vertical);
	&.btn-lg {
		.panel-button-vertical-align(@panel-lh; (@line-height-large * @font-size-large); @padding-large-vertical; @padding-large-vertical);
	}
	&.btn-sm {
		.panel-button-vertical-align(@panel-lh; (@line-height-small * @font-size-small); @padding-large-vertical; @padding-small-vertical);
	}
	&.btn-xs {
		.panel-button-vertical-align(@panel-lh; (@line-height-small * @font-size-small); @padding-large-vertical; @padding-xs-vertical);
	}
}

.panel-heading {
	//&.panel-navbar {
		//min-height: 50px;
		//padding-top: 0;
		//padding-bottom: 0;
		line-height: @line-height-computed;

		> .panel-title {
			display: inline-block;
			line-height: inherit;
		}

		.btn-group {
			> .btn {
			.panel-button-vertical-align(@line-height-computed; @line-height-computed; @padding-large-vertical; @padding-base-vertical);
}

			&.btn-group-lg {
			> .btn {
				.panel-button-vertical-align(@line-height-computed; (@line-height-large * @font-size-large); @padding-large-vertical; @padding-large-vertical);
}
			}
			&.btn-group-sm {
			> .btn {
				.panel-button-vertical-align(@line-height-computed; (@line-height-small * @font-size-small); @padding-large-vertical; @padding-small-vertical);
}
			}
			&.btn-group-xs {
			> .btn {
				.panel-button-vertical-align(@line-height-computed; (@line-height-small * @font-size-small); @padding-large-vertical; @padding-xs-vertical);
}
			}
		}
/*
*/

		.btn-toolbar {
			margin-top: -10px;
			margin-bottom: -10px;

			> .btn-group {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.btn-group {
			margin-top: -10px;
			margin-bottom: -10px;
			padding-top: 10px;
			padding-bottom: 10px;

/*
			&.btn-group-lg {
				padding-top: 4px;
				padding-bottom: 4px;
			}
			&.btn-group-sm {
				padding-top: 12px;
				padding-bottom: 12px;
			}
			&.btn-group-xs {
				padding-top: 16px;
				padding-bottom: 16px;
			}
*/
		}

		.btn {
			.panel-button-vertical-align(@line-height-computed);
		}

		> .panel-nav {
			margin-top: -10px;
			margin-bottom: -10px;

			> li {
				float: left;

				> a {
					color: inherit;
				}

				> .dropdown-menu {
					margin-top: 0;
					.border-top-radius(0);
				}
			}

			&.pull-left:first-child {
				margin-left: -15px;
			}

			&.pull-right:last-child {
				margin-right: -15px;
			}
		}

		&:after {
			clear: both;
		}

		&:before,
		&:after {
			content: " ";
			display: table;
		}
	//}
}

.panel-books {
	.panel-variant(@panel-books-border, @panel-books-text, @panel-books-bg, @panel-books-border);
	border-radius: 0;

	> .panel-heading {
		#gradient.vertical(@gradient-start-color, @gradient-stop-color, @gradient-start-percent, @gradient-stop-percent);
		border-radius: 0;
		line-height: @panel-books-heading-line-height;

		> .panel-title {
			font-size: @panel-books-title-font-size;
			font-weight: 400;
			text-transform: uppercase;
			white-space: nowrap;

			> a {
				text-decoration: none;
			}
		}

		.btn-group {
			> .btn {
			.panel-button-vertical-align(@panel-books-heading-line-height; @line-height-computed; @padding-large-vertical; @padding-base-vertical);
}

			&.btn-group-lg {
				> .btn {
				.panel-button-vertical-align(@panel-books-heading-line-height; (@line-height-large * @font-size-large); @padding-large-vertical; @padding-large-vertical);
}
			}
			&.btn-group-sm {
				> .btn {
				.panel-button-vertical-align(@panel-books-heading-line-height; (@line-height-small * @font-size-small); @padding-large-vertical; @padding-small-vertical);
}
			}
			&.btn-group-xs {
				> .btn {
				.panel-button-vertical-align(@panel-books-heading-line-height; (@line-height-small * @font-size-small); @padding-large-vertical; @padding-xs-vertical);
}
			}
		}
/*
*/

/*
		.btn-group {
			margin-top: -10px;
			margin-bottom: -10px;
			padding-top: 5px;
			padding-bottom: 5px;

			&.btn-group-lg {
				padding-top: 4px;
				padding-bottom: 4px;
			}
			&.btn-group-sm {
				padding-top: 12px;
				padding-bottom: 12px;
			}
			&.btn-group-xs {
				padding-top: 16px;
				padding-bottom: 16px;
			}
		}
*/

		.btn {
			.panel-button-vertical-align(@panel-books-heading-line-height);
		}
	}
}

/*
.panel-heading {
	min-height: 50px;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: " ";
		display: table;
	}
}
*/

/*
.panel-heading {
	.panel-nav {
		margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;
		//margin-top: 0;
		//margin-bottom: 0;

		> li > a {
			padding-top: 10px;
			padding-bottom: 10px;
			line-height: @line-height-computed;

			line-height: 50px;

			font-size: @navbar-default-link-font-size;
			font-weight: 400;
			text-transform: uppercase;
			white-space: nowrap;
		}

		// Uncollapse the nav
		@media (min-width: @grid-float-breakpoint) {
			float: left;
			margin: 0;

			> li {
				float: left;
				> a {
					padding-top: @navbar-padding-vertical;
					padding-bottom: @navbar-padding-vertical;
			padding-top: 0;
			padding-bottom: 0;
				}
			}
		}
	}
}
*/


// Alternate panels
// --------------------------------------------------

// Default panel
.panel-default {
	//.panel-variant(@panel-default-border, @panel-default-text, @panel-default-heading-bg, @panel-default-heading-border);
	.panel-variant(@panel-default-border, @panel-default-text, @panel-default-heading-bg, @navbar-default-border);
	border-radius: 0;
	border: none;
	.box-shadow(none);
	margin-bottom: 0;
	background-color: @well-bg;

	> .panel-heading {
		min-height: 50px;
		//padding-top: 15px;
		//padding-bottom: 15px;
		padding: 0;
		border-radius: 0;
		#gradient.vertical(@gradient-start-color, @gradient-stop-color, @gradient-start-percent, @gradient-stop-percent);
		//.box-shadow(@box-bottom-hshadow @box-bottom-vshadow @box-blur @box-color);
		border-top: none;

		&:after {
			clear: both;
		}

		&:before,
		&:after {
			content: " ";
			display: table;
		}

		> .panel-title {
			display: inline-block;
			line-height: 48px;
			margin-top: -15px;
			margin-bottom: -15px;
			font-size: @panel-default-title-font-size;
			font-weight: 400;
			text-transform: uppercase;
			white-space: nowrap;

			.icons-breadcrumb {
				margin-right: 5px;
			}

			.badge {
				vertical-align: middle;
				margin-left: 5px;
			}

			> a {
				display: inline-block;
				line-height: 48px;
				color: @panel-default-title-link-color;
				text-decoration: none;

				&:hover,
				&:focus {
					color: @panel-default-title-link-hover-color;
				}
			}
		}

		> .btn-toolbar {
			margin-top: -8px;
			margin-bottom: -8px;
		}
	}
}

// Authors panel
.panel-authors {
	.panel-variant(@panel-authors-border, @panel-authors-text, @panel-authors-heading-bg, @panel-authors-heading-border);
	background-color: @panel-authors-bg;
	border-radius: 0;
	.box-shadow(none);
	margin-bottom: 0;
	border: none;

	> .panel-heading {
		padding: 0;
		border-radius: 0;

		> .list-group {
			display: table;
			width: 100%;
			margin-bottom: 0;

			> .list-group-item {
				display: table-cell;
				text-align: center;
				padding: 0;
				min-width: 20px;
				border: none;
				border-radius: 0;

				> a {
					display: block;
					padding-top: 10px;
					padding-bottom: 10px;
					outline: none;
					background-color: @panel-authors-heading-bg;

					&:hover,
					&:focus,
					&.active {
						background-color: @panel-authors-heading-link-hover-bg;
						text-decoration: none;
					}
				}
			}
		}
	}

	> .panel-body {
		min-height: 130px;

		> .list-default {
			padding-left: 0;
			margin: 0;

			> li {
				padding-left: 5px;
				padding-right: 5px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	@media (max-width: @grid-float-breakpoint-max) {
		display: table;
		width: 100%;

		> .panel-heading {
			display: table-cell;
			vertical-align: top;
			width: 58px;
			border-bottom: none;
			border-right: 1px solid @panel-authors-heading-border;

			> .list-group {
				display: block;

				> .list-group-item {
					display: block;
				}
			}
		}

		> .panel-body {
			display: table-cell;
			vertical-align: top;
			width: auto;

			> .list-default {
				> li {
					float: none;
					width: 100%;
				}
			}
		}
	}
}
