//
// Scaffolding
// --------------------------------------------------


// Body reset

body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @text-color;
	background-color: @body-bg;
}


// Links

a {
	color: @link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: @link-hover-color;
		text-decoration: underline;
	}

	&:focus {
		.tab-focus();
	}

	// Add hover state for thumbnail links
	&.thumbnail {
		&:hover,
		&:focus,
		&.active {
			border-color: @link-color;
		}
	}
}


// Authors

authorspanel {
	display: block;
	position: relative;
	z-index: @zindex-authors;
	height: 100%;

	@media (min-width: @grid-float-breakpoint) {
		float: left;
		width: @authors-width;

		&.panel-default {
			margin-bottom: @fullheight-margin;
			padding-bottom: @fullheight-padding;
		}
	}
}


seriespanel,
latestadditions {
	display: block;
	position: relative;
}

