//
// Scaffolding
// --------------------------------------------------


// Body reset

html {
	position: relative;
	min-height: 100%;
}

body {
	// Apply bottom margin to accomodate footer
	margin-bottom: @footer-height;
}

body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @text-color;
	background-color: @body-bg;
}


// Links

a {
	color: @link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: @link-hover-color;
		text-decoration: underline;
	}

	&:focus {
		.tab-focus();
	}

	// Add hover state for thumbnail links
	&.thumbnail {
		&:hover,
		&:focus,
		&.active {
			border-color: @link-color;
		}
	}
}


// HTML5 display definitions
// ==========================================================================

authors,
series,
latestadditions {
	display: block;
	position: relative;
}

