//
// Typography
// --------------------------------------------------


// Lists
// --------------------------------------------------

// List options

.list-well {
	list-style: square inside;
	padding-left: 0;
	color: #b6b4a1;
	text-transform: uppercase;
	margin-bottom: 0;
}

