//
// Variables
// --------------------------------------------------


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color:		#382110;
@btn-default-bg:		#e1ddc7;
@btn-default-border:		#b6b4a1;


//== Badges
//
//##

@badge-color:			#382110;
@badge-bg:			#e1ddc7;
@badge-border:			#b6b4a1;


//== Icons
//
//##

@icons-breadcrumb-width:			20px;
@icons-breadcrumb-height:			20px;
@icons-breadcrumb-bg:				'../images/icons/breadcrumb/icons-breadcrumb.png';
@icons-breadcrumb-bg-base-x:			-26px;
@icons-breadcrumb-bg-base-y:			-6px;
@icons-breadcrumb-bg-icon-offset-x:		0;
@icons-breadcrumb-bg-icon-offset-y:		-22px;
@icons-breadcrumb-bg-active-offset-x:		24px;
@icons-breadcrumb-bg-active-offset-y:		0;
@icons-breadcrumb-bg-disabled-offset-x:		0;
@icons-breadcrumb-bg-disabled-offset-y:		0;


@icons-toolbar-width:				14px;
@icons-toolbar-height:				14px;
@icons-toolbar-base-bg:				'../images/icons/toolbar';
@icons-toolbar-bg-base-x:			-1px;
@icons-toolbar-bg-base-y:			-1px;
@icons-toolbar-bg-icon-offset-x:		-18px;
@icons-toolbar-bg-icon-offset-y:		0;
@icons-toolbar-bg-active-offset-x:		0;
@icons-toolbar-bg-active-offset-y:		0;
@icons-toolbar-bg-disabled-offset-x:		0; 
@icons-toolbar-bg-disabled-offset-y:		-14px;


@icons-toolbar-bookspanel-name:			'bookspanel';
@icons-toolbar-bookspanel-bg:			'../images/icons/toolbar/icons-toolbar-bookspanel.png';


@icons-toolbar-bookviewer-name:			'bookviewer';
@icons-toolbar-bookviewer-bg:			'../images/icons/toolbar/icons-toolbar-bookviewer.png';


@icons-fugue-width:				16px;
@icons-fugue-height:				16px;
@icons-fugue-base-bg:				'../images/icons/fugue-icons/icons';


