//
// Variables
// --------------------------------------------------


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Kindle
//** Deprecated `@screen-ms` as of v3.0.1
@screen-ms:                  582px;
@screen-ms-min:              @screen-ms;
//** Deprecated `@screen-kindle` as of v3.0.1
@screen-kindle:              @screen-ms-min;

// So media queries don't overlap when required, provide a maximum
@screen-ms-max:              (@screen-ms-min - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Kindle
@container-kindle:             ((536px + @grid-gutter-width));
//** For `@screen-ms-min` and up.
@container-ms:                 @container-kindle;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-default-color:		#382110;
@btn-default-bg:		#e1ddc7;
@btn-default-border:		#b6b4a1;


//== Badges
//
//##

@badge-color:			#382110;
@badge-bg:			#e1ddc7;
@badge-border:			#b6b4a1;


//== Images
//
//##

@images-base:					'../images';


//== Logo
//
//##

@logo-base:					"@{images-base}/logo";

@logo-ebooklibrary-width:			156px;
@logo-ebooklibrary-height:			34px;


//== Icons
//
//##

@icons-base:					"@{images-base}/icons";


// Breadcrumb icons

@icons-breadcrumb-width:			20px;
@icons-breadcrumb-height:			20px;
@icons-breadcrumb-image:			"@{icons-base}/breadcrumb/icons-breadcrumb.png";
@icons-breadcrumb-base-x:			-26px;
@icons-breadcrumb-base-y:			-6px;
@icons-breadcrumb-icon-x-offset:		0;
@icons-breadcrumb-icon-y-offset:		-22px;
@icons-breadcrumb-active-x-offset:		24px;
@icons-breadcrumb-active-y-offset:		0;
@icons-breadcrumb-disabled-x-offset:		0;
@icons-breadcrumb-disabled-y-offset:		0;


// Toolbar icons

@icons-toolbar-width:				14px;
@icons-toolbar-height:				14px;
@icons-toolbar-base-image:			"@{icons-base}/toolbar";
@icons-toolbar-base-x:				-1px;
@icons-toolbar-base-y:				-1px;
@icons-toolbar-icon-x-offset:			-18px;
@icons-toolbar-icon-y-offset:			0;
@icons-toolbar-active-x-offset:			0;
@icons-toolbar-active-y-offset:			0;
@icons-toolbar-disabled-x-offset:		0; 
@icons-toolbar-disabled-y-offset:		-14px;


// Fugue icons

@icons-fugue-base-image:			"@{icons-base}/fugue-icons/icons";
@icons-fugue-width:				16px;
@icons-fugue-height:				16px;


//== Navbar
//
//##

@navbar-default-margin-bottom:		0px;

@navbar-default-color:			#382110;
@navbar-default-bg:			#c8c6b0;
@navbar-default-gradient-start-color:	#c8c6b0;
@navbar-default-gradient-stop-color:	#e1ddc7;
@navbar-default-gradient-start-percent:	0%;
@navbar-default-gradient-stop-percent:	100%;
@navbar-default-border:			#b6b4a1;
@navbar-default-box-hshadow:		0px;
@navbar-default-box-vshadow:		5px;
@navbar-default-box-blur:		18px;
@navbar-default-box-color:		rgba(56, 33, 16, 0.3);

// Navbar links
@navbar-default-link-color:		#333;
@navbar-default-link-hover-color:	@navbar-default-color;
@navbar-default-link-hover-bg:		transparent;
@navbar-default-link-active-color:	@navbar-default-color;
//@navbar-default-link-active-bg:		darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-bg:		transparent;
@navbar-default-link-disabled-color:	#ccc;
@navbar-default-link-disabled-bg:	transparent;

// Navbar brand label
@navbar-default-brand-color:		@navbar-default-link-color;
@navbar-default-brand-hover-color:	darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:		transparent;

