//
// Wells
// --------------------------------------------------


// Base class
.well {
	background-color: @well-bg;
	border: 1px solid @well-border;

	> .well-title {
		margin-top: 0;
		margin-bottom: 19px;
		padding-bottom: 10px;
		font-size: ceil((@font-size-base * 1.25));
		font-weight: 300;
		color: inherit;
		text-transform: uppercase;
		border-bottom: 1px solid @well-border;

		> a {
			color: inherit;
		}
	}
}

// Sizes
.well-lg {
	> .well-title {
		font-size: ceil((@font-size-base * 1.4));
		margin-bottom: 24px;
	}
}
.well-sm {
	> .well-title {
		font-size: ceil((@font-size-base * 1.125));
		margin-bottom: 9px;
	}
}


// Alternate wells
// --------------------------------------------------

.well-wide {
	margin-bottom: 0;
	border-radius: 0;
	border-left: none;
	border-right: none;
	.box-shadow(none);
}


// Latest additions
.well-latestadditions {
	//z-index: @zindex-latestadditions;
	height: @well-latestadditions-height;
	background-image: data-uri(@images-latestadditions-image);
	background-position: left bottom;
	border-bottom-color: @well-latestadditions-border;
	//.box-shadow(@box-bottom-hshadow @box-bottom-vshadow @box-blur @box-color);

	> .well-title {
		font-size: ceil((@font-size-base * 1.4));
		border-bottom: 1px solid @well-latestadditions-border;
	}

	> .latestadditions-books {
		height: @well-latestadditions-thumbnail-height;
		overflow: hidden;
		text-align: justify;

		> a.thumbnail {
			display: inline-block;
			width: @well-latestadditions-thumbnail-width;
			height: @well-latestadditions-thumbnail-height;
			opacity: 0.6;
			margin-bottom: 0;

			&:hover,
			&:focus,
			&.active {
				opacity: 1;
			}

			> img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

