{{!
{
	"name": "FooterView",
	"description": "Footer View Template"
}
}}
<div class="container-fluid">
	<div class="footer-copyright">&copy; 2011 - 2015 <a title="mrdragonraaar.com" href="http://mrdragonraaar.com" target="_blank">mrdragonraaar.com</a></div>
	<ul class="footer-links">
		<li><a class="footer-link-top" title="Goto Top"><i class="glyphicon glyphicon-arrow-up"></i><span class="footer-label">top</span></a></li>
		<li><a class="footer-link-home" title="Home" href="/library/#!/home"><i class="glyphicon glyphicon-home"></i><span class="footer-label">home</span></a></li>
		<li><a class="footer-link-search" title="Search" href="/library/#!/search"><i class="glyphicon glyphicon-search"></i><span class="footer-label">search</span></a></li>
<!--
		<li><a class="footer-link-links" title="Links" href="/library/#!/links"><i class="glyphicon glyphicon-link"></i><span class="footer-label">links</span></a></li>
-->
	</ul>
</div>
