{{!
{
	"name": "BookInfoWell",
	"description": "Book Info Well Template"
}
}}
<bookinfo class="well well-wide well-bookinfo">
<div class="media">
	<div class="thumbnail pull-left">
		<img class="media-object" src="{{bookInfo.cover}}"/>
	</div>
	<div class="media-body">
		<h5 class="heading-author" title="">{{bookInfo.author}}</h5>
		<h4 class="heading-title" title="">{{bookInfo.title}}</h4>
	</div>
</div>
</bookinfo>
