{{!
{
	"name": "ScrollableBooksListItem",
	"description": "Scrollable Books List Item Template"
}
}}
<li><a class="thumbnail" title="Download {{fileInfo.name}}" href="{{downloadUrl}}"><img src="{{bookInfo.cover}}"/></a></li>
