{{!
{
	"name": "ScrollableBooksListItem",
	"description": "Scrollable Books List Item Template"
}
}}
<li><a class="thumbnail" title="{{fileInfo.name}}" href="{{href}}"><img src="{{bookInfo.cover}}"/></a></li>
