{{!
{
	"name": "ScrollableBooksList",
	"description": "Scrollable Books List Template"
}
}}
<a title="Previous" class="scrollable-list-previous disabled"><i class="arrows left"></i></a>
<div class="scrollable-list-viewport">
	<ul></ul>
</div>
<a title="Next" class="scrollable-list-next disabled"><i class="arrows right"></i></a>
