{{!
{
	"name": "BooksNavToolBarView",
	"description": "Books NavToolBar View Template"
}
}}
<li id="viewas-thumbnails" data-group="viewas"><a title="Thumbnails"><i class="icons-toolbar icons-bookspanel icon-thumbnails"></i></a></li>
<li id="viewas-details" data-group="viewas"><a title="Details"><i class="icons-toolbar icons-bookspanel icon-details"></i></a></li>
<li id="viewas-list" data-group="viewas"><a title="List"><i class="icons-toolbar icons-bookspanel icon-list"></i></a></li>
<li class="nav-sortby dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" title="Sort By"><i class="icons-toolbar icons-bookspanel icon-sort"></i> <b class="caret"></b></a>
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		<li id="sortby-title"><a title="Title">Title <span class="caret hide"></span></a></li>
		<li id="sortby-author"><a title="Author">Author <span class="caret hide"></span></a></li>
		<li id="sortby-publicationdate"><a title="Publication Date">Publication Date <span class="caret hide"></span></a></li>
		<li class="divider"></li>
		<li id="sortby-name"><a title="Name">Name <span class="caret hide"></span></a></li>
		<li id="sortby-size"><a title="Size">Size <span class="caret hide"></span></a></li>
		<li id="sortby-lastmodified"><a title="Last Modified">Last Modified <span class="caret hide"></span></a></li>
	</ul>
</li>
