{{!
{
	"name": "SearchPanelView",
	"description": "Search Panel View Template"
}
}}
<searchpanel class="well well-header well-search">
<h3 class="heading-title">Results for &#8220;{{keyword}}&#8221;</h3>
</searchpanel>
