{{!
{
	"name": "BooksPanelView",
	"description": "Books Panel View Template"
}
}}
<div class="panel-heading">
	<span title="0 books" class="badge badge-books">0</span>
</div>
<div class="panel-body container-fluid"></div>
