{{!
{
	"name": "BooksPanelView",
	"description": "Books Panel View Template"
}
}}
<div class="panel-heading">
<!--
	<span title="0 books" class="badge badge-books">0</span>
	<div class="navbar-collapse">
	<button class="navbar-btn btn btn-default"><i class="icons-toolbar icons-bookspanel icon-thumbnails"></i></button>
	<button class="navbar-btn btn btn-default"><i class="icons-toolbar icons-bookspanel icon-thumbnails"></i></button>
-->
	<ul class="panel-nav nav pull-right">
		<li><a href="#"><i class="icons-toolbar icons-bookspanel icon-thumbnails"></i></a></li>
		<li><a href="#"><i class="icons-toolbar icons-bookspanel icon-details"></i></a></li>
		<li><a href="#"><i class="icons-toolbar icons-bookspanel icon-list"></i></a></li>
        <li class="nav-book dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icons-toolbar icons-bookspanel icon-sort"></i> <b class="caret"></b></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
	</ul>
<!--
	</div>
-->
</div>
<div class="panel-body container-fluid"></div>
