{{!
{
	"name": "BooksPanelToolBarView",
	"description": "Books Panel ToolBar View Template"
}
}}
<div class="toolbar-viewas btn-group btn-group-sm">
	<button type="button" class="btn-viewas-thumbnails btn btn-default" title="Thumbnails"><i class="icons-toolbar icons-bookspanel icon-thumbnails"/></button>
	<button type="button" class="btn-viewas-details btn btn-default" title="Details"><i class="icons-toolbar-bookspanel icon-details"/></button>
	<button type="button" class="btn-viewas-list btn btn-default" title="List"><i class="icons-toolbar-bookspanel icon-list"/></button>
</div>
<div class="toolbar-sortby btn-group btn-group-sm">
	<button type="button" class="btn-sortby-dropdown btn btn-default dropdown-toggle" data-toggle="dropdown" title="Sort By"><i class="icons-toolbar-bookspanel icon-sort"/><span class="caret"></span></button>
	<ul class="dropdown-menu pull-right" role="menu">
		<li class="dropdown-sortby-title"><a href="#" title="Title">Title<span class="caret hide"></span></a></li>
		<li class="dropdown-sortby-author"><a href="#" title="Author">Author<span class="caret hide"></span></a></li>
		<li class="dropdown-sortby-publicationdate"><a href="#" title="Publication Date">Publication Date<span class="caret hide"></span></a></li>
		<li class="divider"></li>
		<li class="dropdown-sortby-name"><a href="#" title="Name">Name<span class="caret hide"></span></a></li>
		<li class="dropdown-sortby-size"><a href="#" title="Size">Size<span class="caret hide"></span></a></li>
		<li class="dropdown-sortby-lastmodified"><a href="#" title="Last Modified">Last Modified<span class="caret hide"></span></a></li>
	</ul>
</div>
