{{!
{
	"name": "ListView",
	"description": "Books Panel List View Template"
}
}}
<table class="table bookspanel-books bookspanel-list">
{{#each books}}
	<tr class="book-list">
		<td class="book-list-icon"><i class="icon-document-mobi"/></td>
		<td class="book-list-name"><a href="{{downloadUrl}}">{{fileInfo.name}}</a></td>
		<td class="book-list-lastmodified">{{fileInfo.mtimeStr}}</td>
		<td class="book-list-size">{{fileInfo.sizeStr}}</td>
	</tr>
{{/each}}
</table>
