{{!
{
	"name": "LinksDropdown",
	"description": "Links Dropdown Menu Template"
}
}}
<a href="#" title="Links" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-link"></i><span class="navbar-nav-label">Links</span><span class="caret"></span></a>
<ul class="dropdown-menu-links dropdown-menu dropdown-menu-right" role="menu">
{{#each links}}
	<li><a target="_blank" href="{{urls.[0].href}}"><img class="dropdown-menu-icon" src="{{icon}}"/>{{title}}</a></li>
{{/each}}
</ul>
