{{!
{
	"name": "AuthorsPanelNavToolBarView",
	"description": "Authors Panel NavToolBar Template"
}
}}
<li id="letter-all" data-group="letter"><a title="All">All</a></li>
{{#letters .}}
<li id="letter-{{lc}}" data-group="letter"><a title="{{uc}}">{{uc}}</a></li>
{{/letters}}
