{{!
{
	"name": "BookPanelNavToolBarView",
	"description": "Book Panel NavToolBar Template"
}
}}
<li id="chapter-first"><a title="First Chapter"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
<li id="chapter-previous"><a title="Previous Chapter"><i class="glyphicon glyphicon-step-backward"></i></a></li>
<li id="chapter-next"><a title="Next Chapter"><i class="glyphicon glyphicon-step-forward"></i></a></li>
<li id="chapter-last"><a title="Last Chapter"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
