{{!
{
	"name": "SeriesPanel",
	"description": "Series Panel Template"
}
}}
<div class="panel-heading">
	<h3 class="panel-title">Series <span class="count"></span></h3>
</div>
<div class="panel-body">
</div>
