{{!
{
	"name": "BooksPanelContentList",
	"description": "Books Panel Content List Template"
}
}}
<table class="panel-content panel-content-list table table-responsive-collapse !table-striped">
{{#each books}}
	<tr class="panel-content-list-row">
		<td class="panel-content-list-name"><a href="{{downloadUrl}}">{{fileInfo.name}}</a></td>
		<td class="panel-content-list-lastmodified">{{fileInfo.mtimeStr}}</td>
		<td class="panel-content-list-size">{{fileInfo.sizeStr}}</td>
	</tr>
{{/each}}
</table>
